#ngoPage {
  padding: 25px;
}

html, body {
      height: 100%;
      margin: 0;
}
#map {
      width: 100%;
      height: 100%
}

#navbar {
  justify-content: center;
  display: grid;
}


#screen {
  height: 100%;
  width: 100%;
  display: flex;
}

button {
  border: none;
  background: white;
}

button:hover {
  border: none;
  background: rgb(245, 210, 210);
  
}